<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Stands marathon</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="site-header">
    <div class="container">
        <div class="logo">
            <img src="logo.png" alt="BarchaThon Logo">
            <span>BarchaThon</span>
        </div>
        <nav class="nav">
            <a href="#">Accueil</a>
            <a href="#">Catalogue</a>
            <a href="#">S’inscrire</a>
            <a href="#" class="btn-login">Se connecter</a>
        </nav>
    </div>
</header>

<div class="stand">

    <div class="top">
        <h1>Détails stand</h1>
        <div>
            <a href="stand.html">Retour details</a>
            <a href="#">Catalogue</a>
        </div>
    </div>

    <!-- CATEGORIE 1 -->
    <h2 class="category-title">Stand-Marathon International de Djerba</h2>
    <div class="grid-stands">
        <div class="card">
            <h3>Stand Premium</h3>
            <p></p>Cadeaux, textile et packs officiels.</p>
            <p>2 produits</p>
            <a class="btn" href="produitC4.html">Voir catalogue produits</a>
        </div>
        
    