<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Catalogue stand</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="site-header">
    <div class="container">
        <div class="logo">
            <img src="logo.png" alt="BarchaThon Logo">
            <span>BarchaThon</span>
        </div>
        <nav class="nav">
            <a href="#">Accueil</a>
            <a href="#">Catalogue</a>
            <a href="#">S’inscrire</a>
            <a href="#" class="btn-login">Se connecter</a>
        </nav>
    </div>
</header>
<div class="stand">

    <div class="top">
        <h1>Stand Hydratation</h1>
        <div>
            <a href="stand.html">Retour stands</a>
            <a href="#">Retour details</a>
        </div>
    </div>

    <div class="grid-products">

        <!-- PRODUITS -->
        <div class="products">

            <div class="card">
                <img class="thumb" src="Stand hydratation_1.png" alt="">
                <h3>Boisson isotonique - Smart drink - Saveur Multi Fruits</h3>
                <p>La boisson recharge énergétique avant, pendant et après l'effort :
                    Apport énergétique élevé, effort intense (rapide et prolongé)
                    Augmente l'endurance
                    Facilite la performance et la récupération
                    Hydratation et reminéralisation</p>
                <p><strong>10.00 TND</strong></p>
                <a class="btn" href="#">Ajouter au panier</a>
            </div>

            <div class="card">
                <img class="thumb" src="Stand hydratation_2.png" alt="">
                <h3>Boisson isotonique - Smart drink - Saveur Multi Fruits</h3>
                <p>La boisson recharge énergétique avant, pendant et après l'effort :
                    Apport énergétique élevé, effort intense (rapide et prolongé)
                    Augmente l'endurance
                    Facilite la performance et la récupération
                    Hydratation et reminéralisation</p>
                <p><strong>15.00 TND</strong></p>
                <a class="btn" href="#">Ajouter au panier</a>
            </div>
            <div class="card">
                <img class="thumb" src="Stand hydratation_3.png" alt="">
                <h3>Boisson isotonique - Smart drink - Saveur Multi Fruits</h3>
                <p>La boisson recharge énergétique avant, pendant et après l'effort :
                    Apport énergétique élevé, effort intense (rapide et prolongé)
                    Augmente l'endurance
                    Facilite la performance et la récupération
                    Hydratation et reminéralisation</p>
                <p><strong>15.00 TND</strong></p>
                <a class="btn" href="#">Ajouter au panier</a>
            </div>
        </div>

        <!-- PANIER -->
        <aside class="side">
            <h3>Panier participant</h3>
            <p>Produit 1 - 00.00 TND</p>
            <p>Produit 2 - 00.00 TND</p>
            <p><strong>Total: 00.000 TND</strong></p>
        </aside>

    </div>

</div>

</body>
</html>